* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    margin: 5px;
}

body {
    background-color: darkslategray;
    color: white;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

span {
    display: inline-block;
    margin: 5px;
}

.card {
    margin: 5px;
    border: 2px solid transparent;
    background-color: lightgray;
    opacity: 0.8;
    transition: 0.3s;
    border-radius: 7px;
}

img {
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
}

.card:hover {
    opacity: 1;
    border: 2px solid white;
    color: black;
}